@import "../../node_modules/bootstrap/scss/bootstrap.scss";


$image: url("../img/forest.jpg");
$text-color: white;

@mixin background-it($path) {
    background-image: $path;
    color: $text-color;
}

.custom-jumbotron-styles {
    @include background-it($image);
}

.transition-style {
    transition: opacity 1000ms ease-in-out;
}

.transition-entering {
    opacity: 0;
}

.transition-entered {
    opacity: 1;
}