@import "../../node_modules/bootstrap/scss/bootstrap.scss";


$image: url("../img/forest.jpg");
$text-color: white;

@mixin background-it($path) {
    background-image: $path;
    color: $text-color;
}

.custom-jumbotron-styles {
    @include background-it($image);
}

.transition {
    transition: opacity 1000ms ease-in-out;

    &-entering {
        opacity: 0;
    }
    &-entered {
        opacity: 1;
    }
    &-exiting {
        opacity: 1;
    }
    &-exited {
        opacity: 0;
    }
}